.Modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2; 
}

.Modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 300px;
    max-width: 600px;
    width: 100%;
    padding: 12px;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    
}

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 5px;
}

.button {
    position: absolute;
   top: 10px;
   right: 10px;


    width: 30px;
    height: 20px;
    padding: 0;

    border: none;
    border-radius: 5px;

    background-color: #f2eaea;
    color: #212121;

    cursor: pointer;
    
}

.button:hover,
.button:focus {
    color: red;
    transform: scale(1.3);
}